@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("./fonts/HelveticaNeueCyr-Medium.eot"); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/HelveticaNeueCyr-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/HelveticaNeueCyr-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"); /* Modern Browsers */
  src: url("./fonts/HelveticaNeueCyr-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/HelveticaNeueCyr-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/HelveticaNeueCyr-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}