<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__navbar">
                <a class="navbar__title" href="#">АРТЁМ ИСЛАМОВ</a>
                <div class="navbar__icons">
                    <a class="icon vk-icon" href="https://vk.com">
                        <img src="/assets/img/icons/vk-icon.svg" alt="VK">
                    </a>
                    <a class="icon yt-icon" href="https://youtube.com">
                        <img src="/assets/img/icons/yt-icon.svg" alt="YouTube">
                    </a>
                    <a class="icon inst-icon" href="https://instagram.com">
                        <img src="/assets/img/icons/inst-icon.svg" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="header__content">
                <div class="content__description">
                    <div class="description__text">
                        <div class="text">
                            <div class="text__suptitle">Предпродажа книги</div>
                            <div class="text__title">Путь Фрилансера</div>
                            <div class="text__description">Закажите книгу сейчас и получите печатный вариант из&nbsp;первого тиража с подписью от автора книги.</div>
                        </div>
                        <div class="cost">
                            <div class="cost__title">Цена</div>
                            <div class="cost__value">790</div>
                        </div>
                    </div>
                    <div class="description__buttons">
                        <button class="button button__order">Заказать книгу</button>
                        <button class="button button__demo">Слушать отрывок</button>
                    </div>
                </div>
                <div class="content__image">
                    <img src="/assets/img/header/book-image.png" alt="Book image">
                </div>
            </div>
        </div>
    </div>
</header>