<!-- <div class="modal modal__order modal__active">
    <div class="modal__form">
        <form class="form__order" action="#" id="order-form">
            <input type="text" class="input name__input" form="order-form" placeholder="Введите имя">
            <input type="text" class="input mail__input" form="order-form" placeholder="Введите email">
            <input type="text" class="input phone__input" form="order-form" placeholder="Введите телефон">
            <input type="submit" class="inpout button" value="Заказать"> -->
        <!-- </form> -->
        <!-- /.form__order -->
    <!-- </div> -->
    <!-- /.modal__form -->
<!-- </div> -->
<!-- /.modal modal__order modal__active-->   


<div class="modal" id="orderModal">
    <div class="modal__content">
        <span class="modal__content-close" id="closeMod">&times;</span>
        <form class="modal__form" action="../mailer/mail.php" id="orderForm" method="POST">
            <span class="form__title">Заполните форму</span>
            <input type="text" class="input name__input" form="orderForm" name="user_name" placeholder="Введите имя*" required>
            <input type="email" class="input mail__input" form="orderForm" name="user_email" placeholder="Введите email*" required>
            <input type="tel" class="input phone__input" form="orderForm" name="user_phone" placeholder="Введите телефон*" required>
            <button type="submit" class="input button">Заказать</button>
        </form>
    </div>
</div>